In [1]:
import pandas as pd
dados = pd.read_csv('fifa.csv')

In [ ]:
#Calculando o score do jogador com base nas suas estatisticas (Aceleração, Sprint, Agilidade, etc)
#Criando coluna total com a soma das estatisticas dos jogadores
dados['total'] = dados['Acceleration'] + dados['Agility'] + dados['Reactions']
dados

In [3]:
# Filtrando os jogadores de acordo com seu score total
dados = dados [['Name', 'total']]
dados.sort_values('total', ascending= False)

                 Name  total
2           Neymar Jr  284.0
5           E. Hazard  279.0
0            L. Messi  277.0
26           M. Salah  276.0
50         D. Mertens  275.0
...               ...    ...
13279    P. Mazzocchi    NaN
13280       Y. Ammour    NaN
13281  Jwa Joon Hyeop    NaN
13282      O. Marrufo    NaN
13283     Han Pengfei    NaN

[18207 rows x 2 columns]

In [8]:
dados.to_csv('dados1.csv', index= False)

In [10]:
dados.to_excel('dados2.xlsx', index= False)

In [11]:
dados.to_csv('dados3.txt', index= False, sep= '\t')